$created-background: #007bff;
$created-font: #fff;

$completed-background: #28a745;
$completed-font: #fff;

$deleted-background: #dc3545;
$deleted-font: #fff;

$low_quality-background: red;
$low_quality-font: #fff;

$in_progress-background: #28a745;
$in_progress-font: #ffffff;

$processed-background: #ffc107;
$processed-font: #000000;

$canceled-background: red;
$canceled-font: #fff;

$confirmed-background: #28a745;
$confirmed-font: #fff;

$conducted-background: lightgreen;
$conducted-font: #000000;

$calculated-background: green;
$calculated-font: #fff;
