.u-pull-right {
  float: right;
}

.u-clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    content: "";
    clear: both
  }
}

.u-flex {
  display: flex;
  justify-content: space-between;
}